header {
  width: 60%;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul {
  padding: 10px 20px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(36, 8, 8);
}
