.top-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: auto;
}

.top-navigation-wrapper div {
  width: 100px;
}
.top-navigation-wrapper div img {
  width: 100%;
}
